* {
    font-family: Teko;
}
body {
    background-color: rgb(35, 35, 35);
}
input[type='number'] {
    -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* FIRST CARD */

.welcomeCard{
    background: linear-gradient(blue, lightblue);
    color: white;
    width: 550px;
    border-radius: 20px;
    height: 600px;
    text-align: center;
    margin: 80px auto;
    border: 2px solid black;
}
.welcomeHeader{
    background: linear-gradient(lightblue);
    color: rgb(255, 255, 255);
    height: 90px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}
.weightloss{
    display: flex;
    flex-direction: column-reverse;
    font-size: 45px;
    margin-top: 60px;
    padding-bottom: 75px;
    align-items: center;
}
.weightgain{
    font-size: 45px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
input[type="radio"] {
    width: 20px; 
    height: 20px;
}

/* SECOND CARD */

.goalsetcard {
    background: linear-gradient(blue, lightblue);
    color: white;
    width: 550px;
    border-radius: 20px;
    height: 600px;
    text-align: center;
    margin: 80px auto;    
    border: 2px solid black;
    justify-content: center;
}

.goalHeader {
    background: linear-gradient(lightblue);
    color: rgb(255, 255, 255);
    height: 90px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 700;
}
.weightgoals {
    margin-top: 90px;
    font-size: 50px;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
}
.notice {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
}
.weightgoals input{
    height: 55px;
    width: 200px;
    font-size: 40px;
    text-align: center;
}
#goalsetbtn{
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    height: 100px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
    background: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
}
#goalsetbtn:hover{
    background: black;
    color: white;
}

/* THIRD CARD */

.card{
    background: linear-gradient(blue, lightblue);
    color: white;
    width: 550px;
    border-radius: 20px;
    height: 600px;
    text-align: center;
    margin: 80px auto;    
    border: 2px solid black;
}
.header{
    background: linear-gradient(lightblue);
    color: rgb(255, 255, 255);
    height: 90px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-bottom: 10px;
}
.header h1{
    font-size: 60px;
    font-weight: 700;   
}
#weightButton {
   height: 85px;
   width: 400px;
   font-size: 50px;
   text-align: center;
   border-radius: 25px;
   border: 1px solid black;
   margin-top: 40px;
}
#caloriesButton {
    height: 85px;
    width: 400px;
    font-size: 50px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 50px;
}
#Submit {
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 50px;
    height: 100px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
    background: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
}
#Submit:hover {
    background: black;
    color: white;
}

/* FOURTH CARD */

.statcard {
    background: linear-gradient(blue, lightblue);
    color: white;
    width: 550px;
    border-radius: 20px;
    height: 600px;
    text-align: center;
    margin: 80px auto;    
    border: 2px solid black;
}
.statcard h1 {
    font-size: 50px;
}
.progressbar {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 120px auto;
}
.outer {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: white;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15),
                -6px -6px 10px -1px rgba(255, 255, 255, .7)
}
.inner {
    height: 120px;
    width:120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, .2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, .7),
                -.5px -.5px 0px rgba(255, 255, 255, 1),
                .5px .5px 0px rgba(0, 0, 0, .15),
                0px 12px 10px -10px rgba(0, 0, 0, .05);
}
#progress {
    font-weight: 600;
    color: #555;
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: progressanim 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
.goalweightdisplay {
    font-size: 25px;
}

/* ANIMATIONS & CLASSES */

.shake {
    animation: shake 0.5s ease-in-out;
}
.invalid {
    border: 4px solid red !important;
}
@keyframes progressanim {
    100% {
        stroke-dashoffset: 165.5;
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
.hidden {
    display: none;
}
.underline {
    text-decoration: underline;
    color: rgb(237, 21, 21);
    font-size: 60px;
}
